{% load static %}
<!DOCTYPE html>
<html>
<head>

    <h1>Name of meeting: {{meeting.meetingName}}</h1>
    <h1>Location of meeting: {{meeting.location}}</h1>
    <h1>Note of meeting: {{meeting.note}}</h1>
    <h1>Recurrence of meeting: {{meeting.recurrence}}</h1>

    <!-- If the creator of meeting has made a decision for the meeting's date, we will show this decision's date
    if decision has not been made yet then this data does not exist -->
    {% if meeting.is_decided == True %}
    <h1>Start of meeting: {{meeting.start}}</h1>
    <h1>End of meeting: {{meeting.end}}</h1>
    {%endif%}

    {% for i in meetingEvents %}
    <h1>This is the start of date: {{i.start}}</h1>
    <h1>This is the end of date: {{i.end}}</h1>
    <h1>This is the number votes for this date: {{i.voteNumber}}</h1>
    <h1>-------------------------------------</h1>
    {% endfor %}

    <h1>***************************************</h1>
    <h1>***************************************</h1>
    <h1>***************************************</h1>

    {%for i in participants%}
    <h1>Participant name for the meeting: {{i.partUsername}}</h1>
    {%endfor%}
</head>
</html>